<app-ngxs-form></app-ngxs-form>
<app-login-page></app-login-page>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-media-query></app-media-query>
    </div>
  </div>
</div>

<app-product></app-product>

<app-data-set></app-data-set>

<app-datatable></app-datatable>

<app-alter-background></app-alter-background>

<app-rxjs></app-rxjs>

<router-outlet></router-outlet>

<app-home></app-home>

<div *ngIf="isVisible">
  <app-child #child [name]="name">
    <p #content>visible = {{ isVisible }}</p>
  </app-child>
</div>

<input type="text" [(ngModel)]="name" />
<button type="button" (click)="isVisible = !isVisible">
  Toogle Destroy / OnInit
</button>

<div>
  <h2>{{ 'HOME.TITLE' | translate }}</h2>
  <label>
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </label>
</div>

<ng-container *transloco='let t'>
  {{ t('containers') }}
</ng-container>

<br>

<ng-container *transloco='let t; lang: "ru"'>
  {{ t('containers') }}
</ng-container>
